* {
    margin:0;

}

ul {
    background-color: #7e0707;
    color: white;
    display: flex;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

li a{
    text-decoration: none;
    color: white;
    align-content: flex-end;
}

.right {
    margin-left: auto;

}

a:hover {
    color:#251414;
    transition: 400ms;

}

li {
    list-style-type: none;
    display: inline;
    margin-left: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

article {
    background-color: #D9D9D9;
    margin: 10px;
    padding: 80px;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
}

li:hover {
    transform: scale(1.06,1.06);
    transition: 1000ms;
}

nav {
    position: fixed;
    width: 100%;
}

/*Sigue Flexbox*/

.BBC {
    display: flex;
    background-color: #7e0707;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.BBC a {
    text-decoration: none;
    font-weight: 800;
    font-size: 3vw;
    text-align: center;
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    gap: 20px;
    margin: 0px 20px ;
}

.box {
    display: flex;
}

.border {
    background-color: #D9D9D9;
    height: 25vh;
    overflow: hidden;
    padding: 10px;
}

/* SIGUE GRID*/

header {
    background-color: #7e0707;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 2vw;

}
/*Definimos un grid de 3 columnas y 3 filas, entonces,
eso nos permite alinear y extender el ancho de cada elemento.*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 150px 70px;
    margin: 15px;
    justify-items: stretch;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
    
}

.item2 {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;
    overflow: hidden;
}

.item3 {
    grid-column-start:1;
    grid-column-end:span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    overflow: hidden;
}

/* Se pone el span para decirle al ítem: "extiende
tu contenido ese número de columnas. El contenido se expande
3 columnas si pongo span:3"*/
.item4 {
    grid-column-start: 2;
    grid-column-start: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    overflow: hidden;
}

.item5 {
    grid-column-start: 1;
    grid-column-start: span 3;
    overflow: hidden;
}

/*El overflow hace que se oculte el contenido que sobresale
de la caja.*/

.grid div {
    border: white solid 10px;    
    background-color: #D9D9D9;
}

.item {
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1vw;
    text-align: center;
    color: white;
}

.scaled:hover {
    transform: scale(1.06,1.06);
    transition: 1000ms;
}
/*
Si se usa la propiedad display, las animaciones no son compatibles, por lo tanto
para usar esta transición, desactivar todos los display que afecten a la ul.

.scaled:hover {
    transform: scale(1.06,1.06);
    transition: 1000ms;
}
*/