* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    flex-grow: 1;
    color: white;
    letter-spacing: 1px;
}

ul {
    display: flex;
    padding: 1.2vw;
    justify-content: flex-end;
    gap: 3vw;
    list-style: none;
    font-weight: 400;
    align-items: center;
}

ul li:hover {
    transform: scale(1.06,1.06);
    transition: 1000ms;

}

nav {
    background: linear-gradient(to right, rgba(253, 253, 176, 0.02), rgba(47, 28, 1, 0.3));

}

a:hover {
    text-decoration: none;
    transform: scale(1.06,1.06);
    transition: 1000ms;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0px 14px 33px -10px rgb(24, 13, 1);
}

a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.space {
    flex-basis: 70vh;
}

body {
    background-image: url(Background_Images/bee3.jpg);
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    background-size: cover;
    background-repeat:no-repeat ;
    overflow: auto; 
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ul {
        display: flex;
        padding: 1.2vw;
        justify-content: flex-end;
        gap: 3vw;
        list-style: none;
        flex-direction: column;
    }

    ul li{
        display: none;
    }
/*Esto hace que la lista sea desplegable*/
    ul:hover li {
        display: block;
    }

    ul:hover {
        cursor: pointer;
    }
}


p {
    color: black;
}

button {
    background: linear-gradient(to right, rgba(253, 253, 176, 0.05), rgba(47, 28, 1, 0.4));
    border: none;
    border-radius: 40px;
    padding: 8px;
    color: white;
    position: relative;
    float: right;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}