* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Background_Images/bee3.jpg);
    background-repeat: no-repeat;
    background-size: ;
}

h2 {
    flex-grow: 1;
    color: white;
    letter-spacing: 1px;
}

ul {
    display: flex;
    padding: 1.2vw;
    justify-content: flex-end;
    gap: 3vw;
    list-style: none;
    font-weight: 400;
    align-items: center;
}

ul li:hover {
    transform: scale(1.06,1.06);
    transition: 1000ms;

}

nav {
    position: sticky;
    width: 100%;
    backdrop-filter: blur(10px);

}

a:hover {
    text-decoration: none;
    transform: scale(1.06,1.06);
    transition: 1000ms;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0px 14px 33px -10px rgb(24, 13, 1);
}

a {
    color: white;
    text-decoration: none;
}
/*
main {
    display: flex;

}*/

.space {
    flex-basis: 70vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    ul {
        display: flex;
        padding: 1.2vw;
        justify-content: flex-end;
        gap: 3vw;
        list-style: none;
        flex-direction: column;
    }

    ul li{
        display: none;
    }
/*Esto hace que la lista sea desplegable*/
    ul:hover li {
        display: block;
    }

    ul:hover {
        cursor: pointer;
    }
}


p {
    color: black;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

button {
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 40px;
    padding: 8px;
    color: white;
    z-index: 1;
    background: transparent;
    padding: 20px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.06,1.06);
    transition: 1000ms;
    backdrop-filter: blur(0px);
}

.backgroundgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100%;
}




.styles {
    display: flex;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}